@{
    ViewData["Title"] = "Home Page";
}
@model TronGenerateWallet.Services.TronWalletGenerateService
<div class="text-center">
    <h1 class="display-4">Tron Wallet Generate V1.0</h1>
    <pre style="font-weight:bold; font-size:1vw;">@ViewData["WalletInfo"]</pre>
    <p>Learn about <a href="https://github.com/kubilay13">Github</a>.</p>
</div>
